<div class="col-12 col-sm-12 col-md-6 col-xl-4">
  <div class="card mt-2" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{name}}</h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Points Earned: {{points}}</li>
      <li class="list-group-item">Tasks Completed: {{tasksCompleted}} </li>
      <li class="list-group-item">Tasks Assigned: {{tasksAssigned}} </li>
    </ul>
  </div>
</div>