<nav class="navbar navbar-light bg-white">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="./assets/images/Strive Rite.png" alt="Strive Rite Logo"width="150" class="height-auto">
      </a>
      <a href="/logout" style="color:inherit;">Sign out</a>
    </div>
  </nav>
  
  <div class="container page-todo mt-5">

      <div class="col-sm-7 tasks">
        <nav class="navbar navbar-expand-lg navbar-light bg-warning">
          <div class="container-fluid">
            <div class="col-4 col-sm-4 col-md-4">
              <img id="regLogo" src="./assets/images/Strive Rite.png">
              <h6>responsibility the fun way</h6>
          </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
              <ul class="navbar-nav">
                {{#if isParent}}
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/dashboard">Home</a>
                  </li>
                  {{/if}}
                  {{#if isParent}}
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Tasks
                    </a>
                    <ul class="dropdown-menu bg-light" aria-labelledby="navbarDropdownMenuLink">
                      <li><a class="dropdown-item" href="/pending_tasks">View Tasks Awaiting Approval</a></li>
                      <li><a class="dropdown-item" href="/view_tasks">View Incomplete Tasks</a></li>
                      <li><a class="dropdown-item" href="/new_task">Assign New Task</a></li>
                    </ul>
                  </li>
                  {{/if}}
                  {{#unless isParent}}
                  <li class="nav-item"><a class="nav-link active" href="/view_tasks">View Tasks</a></li>
                  {{/unless}}
                  {{#if isParent}}
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Prizes
                    </a>
                    <ul class="dropdown-menu bg-light" aria-labelledby="navbarDropdownMenuLink">
                      <li><a class="dropdown-item" href="/search_rewards">Search Rewards</a></li>
                      <li><a class="dropdown-item" href="/view_rewards">View Saved Rewards</a></li>
                    </ul>
                  </li>
                  {{/if}}
                  {{#unless isParent}}
                    <li class="nav-item"><a class="nav-link active" href="/view_rewards">View Rewards</a></li>
                  {{/unless}}
              </ul>
            </div>
          </div>
        </nav>
        
          <div class="page-todo ms-3">
            {{#each children}}
            <div class="tasks">
                <div class="task-list">
                    <h1>{{ name }}'s Incomplete Tasks</h1>
                    <p>Total Points: {{points}}</p>
                    <div class="priority high high-tasks"><span>high priority</span></div>
                    {{#each sortedHigh}}
                    {{#unless dataValues.completed}}
                    {{> highTaskCard}}
                    {{/unless}}
                    {{/each}}
                    <br>
                    <div class="priority medium medium-tasks"><span>medium priority</span></div>
                    {{#each sortedMedium}}
                    {{#unless dataValues.completed}}
                    {{> mediumTaskCard}}
                    {{/unless}}
                    {{/each}}
                    <br>
                    <div class="priority low low-tasks"><span>low priority</span></div>
                    {{#each sortedLow}}
                    {{#unless dataValues.completed}}
                    {{> lowTaskCard}}
                    {{/unless}}
                    {{/each}}
                    <div class="clearfix"></div>		
                </div>		
            </div>
            {{/each}}
          </div>
        
      </div>
  </div>

  <script type="text/javascript" src="./js/viewTasks.js"></script>