<nav class="navbar navbar-light bg-white">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="./assets/images/Strive Rite.png" alt="Strive Rite Logo"width="150" class="height-auto">
      </a>
      <a href="/logout" style="color:inherit;">Sign out</a>
    </div>
  </nav>
  <div class="container mt-3">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-9 bg-warning px-4 borderTopExtraLight">
        <nav class="navbar navbar-expand-lg navbar-light bg-warning">
            <div class="container-fluid">
              <div class="col-4 col-sm-4 col-md-4">
                <img id="regLogo" src="./assets/images/Strive Rite.png">
                <h6>responsibility the fun way</h6>
            </div>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                <ul class="navbar-nav">
                  {{#if isParent}}
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/dashboard">Home</a>
                  </li>
                  {{/if}}
                  {{#if isParent}}
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Tasks
                    </a>
                    <ul class="dropdown-menu bg-light" aria-labelledby="navbarDropdownMenuLink">
                      <li><a class="dropdown-item" href="/pending_tasks">View Tasks Awaiting Approval</a></li>
                      <li><a class="dropdown-item" href="/view_tasks">View Incomplete Tasks</a></li>
                      <li><a class="dropdown-item" href="/new_task">Assign New Task</a></li>
                    </ul>
                  </li>
                  {{/if}}
                  {{#unless isParent}}
                  <li class="nav-item"><a class="nav-link active" href="/view_tasks">View Tasks</a></li>
                  {{/unless}}
                  {{#if isParent}}
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Prizes
                    </a>
                    <ul class="dropdown-menu bg-light" aria-labelledby="navbarDropdownMenuLink">
                      <li><a class="dropdown-item" href="/search_rewards">Search Rewards</a></li>
                      <li><a class="dropdown-item" href="/view_rewards">View Saved Rewards</a></li>
                    </ul>
                  </li>
                  {{/if}}
                  {{#unless isParent}}
                    <li class="nav-item"><a class="nav-link active" href="/view_rewards">View Rewards</a></li>
                  {{/unless}}
                </ul>
              </div>
            </div>
          </nav>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-12 col-md-9 bg-warning px-4 borderExtraLight">
        <div id="contentContainer" class="col-12 col-sm-12 col-md-12">
          <div class="row borderTopSides" style="background-color:#a1bef3;">
            <div class="col-12 col-sm-12 col-md-12 mt-4">
              <div class="row g-3 align-items-center">
                <div class="col-sm-12 col-lg-auto ">
                    <h5>Here are your saved prizes!</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="row bg-light borderSides" style="border-bottom: 5px solid gold;">
            <div class="col-12 col-sm-12 col-md-12 px-4">
              <div class="col-12 col-sm-12 col-md-12">
                <div class="row overflow-scroll" id="markup-container">
                    {{#each prizes}}
                    {{> prizeCard}}
                    {{/each}}
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            <h6 id="cash?"></h6>
                            <h6 id="losePoints"></h6>
                          </div>
                          <div class="modal-footer">
                            <button id="close" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button id="confirm" type="button" class="btn btn-primary">Confirm</button>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
          
        </div>
        <div class="text-center my-1 col-12 col-sm-12 col-md-12">Terms & Conditions | Privacy Policy | Support</div>
      </div>
    </div>
  </div>

  <script src="./js/viewPrizes.js"></script>