form.signup,
form.login {
  margin-top: 50px;
}

.indexLogo {
    position: absolute;
    max-width: 40%;
    height: auto;
    margin-top: 5%;
    margin-right: 10%;
    margin-left: 30%;
}


body {
  background-color: #a1bef3;
  font-family: 'Yusei Magic', sans-serif;
  color: midnightblue;

}

.bg-warning {
  background-color: khaki !important;
}

.bg-light {
  background-color: lightyellow !important;
}

.bg-light2 {
  background-color: lightgoldenrodyellow;
}

.bg-primary {
  background-color: darkblue !important;
<<<<<<< HEAD
  border: 5px solid black;
}

=======
}

.black-border {
  border: 5px solid black;
}

.black-border-top {
  border-top: 5px solid black;
}

.black-border-left {
  border-left: 5px solid black;
}

.black-border-right {
  border-right: 5px solid black;
}

.black-border-bottom {
  border-bottom: 5px solid black;
}

>>>>>>> 85724c4dba3dd9531f27d558f976076ad21551ff
.rounded-top {
  border-radius: 25px 25px 0 0 !important;
}

<<<<<<< HEAD
=======
.rounded-bottom {
  border-radius: 0 0 25px 25px !important;
}

>>>>>>> 85724c4dba3dd9531f27d558f976076ad21551ff
.roundedImportant {
  border-radius: 20px !important;
}

.borderTopSides {
  border-top: 5px solid gold;
  border-right: 5px solid gold;
  border-left: 5px solid gold;
}

.borderTop {
  border-top: 5px solid gold;
}

.borderTopLight {
  border-top: 5px solid lightyellow;
}

.borderSides {
  border-right: 5px solid gold;
  border-left: 5px solid gold;
}

.borderTopExtraLight {
  border-top: 3px solid white;
  border-right: 3px solid white;
  border-left: 3px solid white;
}

.borderExtraLight {
  border-right: 3px solid white;
  border-left: 3px solid white;
  border-bottom: 3px solid white;
}

<<<<<<< HEAD
=======
.info-divs {
  background-color: #87cefa;
}

>>>>>>> 85724c4dba3dd9531f27d558f976076ad21551ff
#signUpLogo {
  display: block;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}


#regLogo {
  display: block;
  width: 125px;
}


.background {
  height: 100%;
  width: 100%;
  height: auto;
}

#hp-pic {
  position: static;
}

#hp-text {
  position: absolute;
  text-align: center;
  overflow: auto;
  top: 35%;
  left: 15%;
  right: 15%;
  padding: 2%;
  padding-left: 5%;
  padding-right: 5%;
  background-color: white;
  border: 2px solid black
}
<<<<<<< HEAD
=======

.hp {
  position: relative;
  max-width: 100%;
  height: auto;
}

.card-header {
  width: 100%;
}

.cardStyle {
  background-color: #0dcaf0;
  margin-left: 2rem;
}
#profileImage {
  cursor: pointer;
}

#profile-container {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  border: 2px solid green;
  overflow: hidden;
}

#profile-select-container {
  width: 75px;
  height: 75px;
  border-radius: 10px;
  border: 3px solid #87cefa;
  overflow: hidden;
}

#profile-select-container img {
  width: 75px;
  height: 75px;
}

#profile-container img {
  width: 150px;
  height: 150px;
}
<<<<<<< HEAD
>>>>>>> 85724c4dba3dd9531f27d558f976076ad21551ff
=======

#vacuumPic {
  width: 35%;
  height: 35%;
  margin-top: 5rem;
}

#laundryPic {
  width: 40%;
  height: 40%;
  margin-left: 2rem;
}
#btnSubmit {
  width: 8rem;
  height: 3rem;
  margin-right: 6rem;
}
>>>>>>> 2bdcec1920c9a318747bc59dd1f5a59bda7c251d
