form.signup,
form.login {
  margin-top: 50px;
}

.indexLogo {
    position: absolute;
    max-width: 40%;
    height: auto;
    margin-top: 5%;
    margin-right: 10%;
    margin-left: 30%;
}


body {
  background: rgb(160,189,244);
  background: radial-gradient(circle, rgba(160,189,244,1) 22%, rgba(11,88,179,1) 100%);
  font-family: 'Yusei Magic', sans-serif;
  color: midnightblue;

}

.hide {
  display: none;
}

.bg-warning {
  background-color: khaki !important;
}

.bg-light {
  background-color: lightyellow !important;
}

.bg-light2 {
  background-color: lightgoldenrodyellow;
}

.bg-primary {
  background-color: darkblue !important;
}

.black-border {
  border: 5px solid black;
}

.black-border-top {
  border-top: 5px solid black;
}

.black-border-left {
  border-left: 5px solid black;
}

.black-border-right {
  border-right: 5px solid black;
}

.black-border-bottom {
  border-bottom: 5px solid black;
}

.rounded-top {
  border-radius: 25px 25px 0 0 !important;
}

.rounded-bottom {
  border-radius: 0 0 25px 25px !important;
}

.roundedImportant {
  border-radius: 20px !important;
}

.borderTopSides {
  border-top: 5px solid gold;
  border-right: 5px solid gold;
  border-left: 5px solid gold;
}

.borderTop {
  border-top: 5px solid gold;
}

.borderTopLight {
  border-top: 5px solid lightyellow;
}

.borderSides {
  border-right: 5px solid gold;
  border-left: 5px solid gold;
}

.borderTopExtraLight {
  border-top: 3px solid white;
  border-right: 3px solid white;
  border-left: 3px solid white;
}

.borderExtraLight {
  border-right: 3px solid white;
  border-left: 3px solid white;
  border-bottom: 3px solid white;
}

.info-divs {
  background-color: #87cefa;
}

#signUpLogo {
  display: block;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

#childOne {
  color: white;
  font-family: 'Bangers', cursive;
  text-align: center;
  font-size: 100px;
  background: rgb(240,13,13);
  background: linear-gradient(0deg, rgba(240,13,13,1) 52%, rgba(254,239,239,1) 100%);
}

#childTwo {
  color: white;
  font-family: 'Bangers', cursive;
  text-align: center;
  font-size: 100px;
  background: rgb(13,38,240);
  background: linear-gradient(0deg, rgba(13,38,240,1) 52%, rgba(239,242,254,1) 100%);
}

#childThree {
  color: white;
  font-family: 'Bangers', cursive;
  text-align: center;
  font-size: 100px;
  background: rgb(44,187,9);
  background: linear-gradient(0deg, rgba(44,187,9,1) 52%, rgba(242,254,239,1) 100%);
}
#childFour {
  color: white;
  font-family: 'Bangers', cursive;
  text-align: center;
  font-size: 100px;
  background: rgb(236,228,9);
  background: linear-gradient(0deg, rgba(236,228,9,1) 52%, rgba(255,254,234,1) 100%);
}
#regLogo {
  display: block;
  width: 125px;
}
#signupPic {
  width: 100%;
  height: 70%;
}

#loginPic {
  width: 100%;
  height: 80%;
}

.background {
  height: 100%;
  width: 100%;
  height: auto;
}
h1 {
  font-family: 'Bangers', cursive;
}

#hp-pic {
  position: static;
}

#hp-text {
  position: absolute;
  text-align: center;
  overflow: auto;
  top: 35%;
  left: 15%;
  right: 15%;
  padding: 2%;
  padding-left: 5%;
  padding-right: 5%;
  background-color: white;
  border: 2px solid black
}

.hp {
  position: absolute;
  max-width: 100%;
  height: auto;
}

.card-header {
  width: 105%;
  margin-left: -13px;
  text-align: center;
  font-size: xx-large;
  font-family: 'Bangers', cursive;
  background: rgba(14,37,223,1);
  background: linear-gradient(0deg, rgba(14,37,223,1) 47%, rgba(251,249,246,1) 100%);
  border: 0;
}

.cardStyle {
  background: rgb(13,202,240);
  background: linear-gradient(0deg, rgba(13,202,240,1) 41%, rgba(14,37,223,1) 81%);
  margin-left: 4rem;
}

#profileImage {
  cursor: pointer;
}

#profile-container {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  border: 2px solid green;
  overflow: hidden;
}

#profile-select-container {
  width: 75px;
  height: 75px;
  border-radius: 10px;
  border: 3px solid #87cefa;
  overflow: hidden;
}

#profile-select-container img {
  width: 75px;
  height: 75px;
}

#profile-container img {
  width: 150px;
  height: 150px;
}

#markup-container {
  height: 500px;
}

#vacuumPic {
  width: 100%;
  height: 50%;
  margin-top: 5rem;
}

#laundryPic {
  width: 100%;
  height: 40%;
}
#picCard {
  float: right;
  border: 0;
}
#trashPic {
  width: 110%;
  height: 40%;
  margin-top: 4rem;
}
#dustingPic {
  width: 110%;
  height: 40%;
  margin-top: 2rem;
}
#btnSubmit {
  width: 8rem;
  height: 3rem;
  margin-right: 33rem;
}

/* Task Sheet */

.page-todo .tasks {
    background: #fff;
    padding: 0;
    border-right: 1px solid #d1d4d7;
    margin: -30px 15px -30px -15px
}

.page-todo .task-list {
    padding: 30px 15px;
    height: 100%
}

.page-todo .graph {
    height: 100%
}

.page-todo .priority.high {
    background: #fffdfd;
    margin-bottom: 1px
}

.page-todo .priority.high span {
    background: #f86c6b;
    padding: 2px 10px;
    color: #fff;
    display: inline-block;
    font-size: 12px
}

.page-todo .priority.medium {
    background: #fff0ab;
    margin-bottom: 1px
}

.page-todo .priority.medium span {
    background: #f8cb00;
    padding: 2px 10px;
    color: #fff;
    display: inline-block;
    font-size: 12px
}

.page-todo .priority.low {
    background: #cfedda;
    margin-bottom: 1px
}

.page-todo .priority.low span {
    background: #4dbd74;
    padding: 2px 10px;
    color: #fff;
    display: inline-block;
    font-size: 12px
}

.page-todo .task {
    border-bottom: 1px solid #e4e5e6;
    margin-bottom: 1px;
    position: relative
}

.page-todo .task .desc {
    display: inline-block;
    width: 75%;
    padding: 10px 10px;
    font-size: 12px
}

.page-todo .task .desc .title {
    font-size: 18px;
    margin-bottom: 5px
}

.page-todo .task .time {
    display: inline-block;
    width: 15%;
    padding: 10px 10px 10px 0;
    font-size: 12px;
    text-align: right;
    position: absolute;
    top: 0;
    right: 0
}

.page-todo .task .time .date {
    font-size: 14px;
    margin-bottom: 5px
}

.page-todo .task.last {
    border-bottom: 1px solid transparent
}

.page-todo .task.high {
    border-left: 2px solid #f86c6b
}

.page-todo .task.medium {
    border-left: 2px solid #f8cb00
}

.page-todo .task.low {
    border-left: 2px solid #4dbd74
}

.page-todo .timeline {
    width: auto;
    height: 100%;
    margin: 20px auto;
    position: relative
}

.page-todo .timeline:before {
    position: absolute;
    content: '';
    height: 100%;
    width: 4px;
    background: #d1d4d7;
    left: 50%;
    margin-left: -2px
}

.page-todo .timeslot {
    display: inline-block;
    position: relative;
    width: 100%;
    margin: 5px 0
}

.page-todo .timeslot .task {
    position: relative;
    width: 44%;
    display: block;
    border: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box
}

.page-todo .timeslot .task span {
    border: 2px solid #63c2de;
    background: #e1f3f9;
    padding: 5px;
    display: block;
    font-size: 11px
}

.page-todo .timeslot .task span span.details {
    font-size: 16px;
    margin-bottom: 10px
}

.page-todo .timeslot .task span span.remaining {
    font-size: 14px
}

.page-todo .timeslot .task span span {
    border: 0;
    background: 0 0;
    padding: 0
}

.page-todo .timeslot .task .arrow {
    position: absolute;
    top: 6px;
    right: 0;
    height: 20px;
    width: 20px;
    border-left: 12px solid #63c2de;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    margin-right: -18px
}

.page-todo .timeslot .task .arrow:after {
    position: absolute;
    content: '';
    top: -12px;
    right: 3px;
    height: 20px;
    width: 20px;
    border-left: 12px solid #e1f3f9;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent
}

.page-todo .timeslot .icon {
    position: absolute;
    border: 2px solid #d1d4d7;
    background: #2a2c36;
    -webkit-border-radius: 50em;
    -moz-border-radius: 50em;
    border-radius: 50em;
    height: 30px;
    width: 30px;
    top: 0;
    left: 50%;
    margin-left: -17px;
    color: #fff;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    text-shadow: none;
    z-index: 2;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box
}

.page-todo .timeslot .time {
    background: #d1d4d7;
    position: absolute;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    top: 1px;
    left: 50%;
    padding: 5px 10px 5px 40px;
    z-index: 1;
    margin-top: 1px
}

.page-todo .timeslot.alt .task {
    margin-left: 56%;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box
}

.page-todo .timeslot.alt .task .arrow {
    position: absolute;
    top: 6px;
    left: 0;
    height: 20px;
    width: 20px;
    border-left: none;
    border-right: 12px solid #63c2de;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    margin-left: -18px
}

.page-todo .timeslot.alt .task .arrow:after {
    top: -12px;
    left: 3px;
    height: 20px;
    width: 20px;
    border-left: none;
    border-right: 12px solid #e1f3f9;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent
}

.page-todo .timeslot.alt .time {
    top: 1px;
    left: auto;
    right: 50%;
    padding: 5px 40px 5px 10px
}

@media only screen and (min-width:992px) and (max-width:1199px) {
    .page-todo task .desc {
        display: inline-block;
        width: 70%;
        padding: 10px 10px;
        font-size: 12px
    }
    .page-todo task .desc .title {
        font-size: 16px;
        margin-bottom: 5px
    }
    .page-todo task .time {
        
        float: right;
        width: 20%;
        padding: 10px 10px;
        font-size: 12px;
        text-align: right
    }
    .page-todo task .time .date {
        font-size: 16px;
        margin-bottom: 5px
    }
}

@media only screen and (min-width:768px) and (max-width:991px) {
    .page-todo .task {
        margin-bottom: 1px
    }
    .page-todo .task .desc {
        display: inline-block;
        width: 65%;
        padding: 10px 10px;
        font-size: 10px;
        margin-right: -20px
    }
    .page-todo .task .desc .title {
        font-size: 14px;
        margin-bottom: 5px
    }
    .page-todo .task .time {
        
        float: right;
        width: 25%;
        padding: 10px 10px;
        font-size: 10px;
        text-align: right
    }
    .page-todo .task .time .date {
        font-size: 14px;
        margin-bottom: 5px
    }
    .page-todo .timeslot .task span {
        padding: 5px;
        display: block;
        font-size: 10px
    }
    .page-todo .timeslot .task span span {
        border: 0;
        background: 0 0;
        padding: 0
    }
    .page-todo .timeslot .task span span.details {
        font-size: 14px;
        margin-bottom: 0
    }
    .page-todo .timeslot .task span span.remaining {
        font-size: 12px
    }
}

@media only screen and (max-width:767px) {
    .page-todo .tasks {
        position: relative;
        margin: 0!important
    }
    .page-todo .graph {
        position: relative;
        margin: 0!important
    }
    .page-todo .task {
        margin-bottom: 1px
    }
    .page-todo .task .desc {
        display: inline-block;
        width: 65%;
        padding: 10px 10px;
        font-size: 10px;
        margin-right: -20px
    }
    .page-todo .task .desc .title {
        font-size: 14px;
        margin-bottom: 5px
    }
    .page-todo .task .time {
        
        float: right;
        width: 25%;
        padding: 10px 10px;
        font-size: 10px;
        text-align: right
    }
    .page-todo .task .time .date {
        font-size: 14px;
        margin-bottom: 5px
    }
    .page-todo .timeslot .task span {
        padding: 5px;
        display: block;
        font-size: 10px
    }
    .page-todo .timeslot .task span span {
        border: 0;
        background: 0 0;
        padding: 0
    }
    .page-todo .timeslot .task span span.details {
        font-size: 14px;
        margin-bottom: 0
    }
    .page-todo .timeslot .task span span.remaining {
        font-size: 12px
    }
}
